<p id=”alert”><%= alert %></p>
<h1>Login</h1>
<%= form_tag sessions_path do |form| %>
  <div class=”field”>
    <%= label_tag :username %>  
    <%= text_field_tag :username %>
  </div>
  <div class=”field”>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class=”actions”>
    <%= submit_tag :login %> <br><br>
  </div>
<% end %>
Don't have an Account? <br><%= button_to "Create Account Here", new_user_path, method: :get %>
<% if current_user %>
  Logged in as <%= current_user.email %>.
  <%= link_to :logout, logout_path %>
<% end %>