<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <p><%= error %></p>
    <% end %>
<% end %>
<% if @drink.user == current_user %>
<h2>Edit Drink Recipe</h2>
<%= form_with model:@drink do |f|%>
    <%= f.label :name %>
    <%= f.text_field :name %> <br><br>

    <%= f.label :category %>
    <%= f.text_field :category %><br><br>

    <%= f.label :ingredients %>
    <%= f.text_area :ingredients %><br><br>

    <%= f.label :directions %>
    <%= f.text_area :directions %><br><br>

    <%= f.label :image_url %>
    <%= f.text_field :image_url %><br><br>
    
    <%= f.submit %>
<% end %>
<% else %>
<h1 style="color:red"><b>Acceess Denied</b></h1>
<% end %>