<h2>Drink Recipes</h2>
<% @drinks.each do |drink|%>
    <%= link_to drink.name, drink %> <br>
    Created by: <%= link_to drink.user.name, drink.user %> <br>
    Category: <%= drink.category %><br><br>
    <%= drink.likes.count %> <%= (drink.likes.count) == 1 ? 'Like' : 'Likes'%><br>
    <%= image_tag drink.image_url, size: "200x225"%> <br><br>
<% end %>