<h2><%= @drink.name %> </h2>
Created by: <%=link_to @drink.user.name, @drink.user%> <br>
Ingredients: <%= @drink.ingredients %> <br>
Directions: <%= @drink.directions %> <br><br>
<%= image_tag @drink.image_url, size:"500x600"%> <br><br>

<% if current_user %>
    <%= button_to "Edit", edit_drink_path, method: :get %> <br><br>
<% end %>

<h3>Comment Section</h3>
<% @comments.each do |comment|%>
    <%= link_to comment.user.name, comment.user %> : <br>
    <%= comment.content %> <br> <br>
<% end %>

<% if current_user %>
<%= form_with model:@comment do |f|%>
    <%= f.label "Add Comment" %>: <br>
    <%= f.text_area :content %> <br>
    <%= f.hidden_field :recipe_id, value: @drink.id %>
    <%= f.hidden_field :recipe_type, value: @drink.class %>
    <%= f.hidden_field :user_id, value: session[:user_id] %>
    <%= f.submit %>
<% end %>
<% end %>