<h2><%= @user.name %></h2><br>
City: <%= @user.city %><br><br>
Username: <%= @user.username %><br><br>

All Food Recipes:
<ul>
<% @user.foods.each do |f| %> 
<li><%= link_to f.name, food_path(f) %></li><br>
<% end %> 
</ul>

All Drink Recipes:
<ul>
<% @user.drinks.each do |d| %>
<li><%= link_to d.name, drink_path(d) %></li><br>
<% end %> 
</ul>

